<div class = "background-search">
    <%= form_with(url: "/trips/search", local: true) do |form|%>
    <div class="card text-center w-50 p-4 search-header">
    <hr>
    <h4>Book your way through the <strong class = "fs">Skies.</strong></h4>
    <hr>
  <div class="card-body search-trips">
    <div class = "search-fields">
        <div class="form-group">
          <h5 class = "text-left"><strong><%= form.label :From %></strong></h5>
          <select name="source" class ='form-control'>
            <option value="<%= @source %>" selected hidden><%= @source %></option>
            <% Trip.all.each do |trip| %>
              <option value="<%= trip.source %>"><%= trip.source %></option>
            <% end %>
          </select>
        </div>
    </div>
    <div class = "search-fields">
          <div class="form-group">
            <h5 class = "text-left"><strong><%= form.label :To %></strong></h5>
            <select name="destination" class ='form-control'>
            <option value="<%= @destination %>" selected hidden><%= @destination %></option>
            <% Trip.all.each do |trip| %>
              <option value="<%= trip.destination %>"><%= trip.destination %></option>
            <% end %>
          </select>
          </div>
    </div>
    <div class = "search-fields">
          <div class="form-group">
            <h5 class = "text-left"><strong><%= form.label :date %></strong></h5>
            <%= form.date_field(:date_of_journey, {:class => 'form-control'}) %>
          </div>
    </div>
  </div>
      <div class = 'form-group'>
        <%= form.submit("Search",{:class=> 'btn btn-custom '}) %>
      </div>
</div>
    
<% end %>
</div>

<% if @list_trips.exists? %>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Plane</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Date</th>
      <th scope="col">Seats Left</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @list_trips.each do |trip| %>
  <% @seats_left = (trip.aeroplane.total_seats - Ticket.all.where('trip_id = ?', trip.id).count) %>
    <tr>
      <th scope="row">1</th>
      <td><%= trip.aeroplane.name %></td>
      <td><%= trip.source %></td>
      <td><%= trip.destination %></td>
      <td><%= readable_date(trip.date_of_dep) %></td>
      <% if @seats_left <= trip.aeroplane.total_seats/2 %>
      <td class = "seat_warning"><%= @seats_left %></td>
      <% elsif @seats_left <= trip.aeroplane.total_seats/3  %>
      <td class = "hurry"><%= @seats_left %></td>
      <% else %>
      <td><%= @seats_left %></td>
      <% end %>
      <td><%= link_to 'Book Now', {:controller => "tickets", :action => "new", :trip_id => trip.id }, class: 'btn btn-danger' unless admin? %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>

