<div class = "background-search">
    <%= form_with(url: "/trips/search", local: true) do |form|%>
    <div class="card text-center w-50 p-4 search-header">
    <hr>
    <h4>Book your way through the <strong class = "fs">Skies.</strong></h4>
    <hr>
  <div class="card-body search-trips">
    <div class = "search-fields">
        <div class="form-group">
          <%= form.label :From %>
          <%= form.text_field(:source, {:class => 'form-control'}) %>
        </div>
    </div>
    <div class = "search-fields">
          <div class="form-group">
            <%= form.label :To %>
            <%= form.text_field(:destination, {:class => 'form-control'}) %>
          </div>
    </div>
    <div class = "search-fields">
          <div class="form-group">
            <%= form.label :date_of_journey %>
            <%= form.date_field(:date_of_journey, {:class => 'form-control'}) %>
          </div>
    </div>
  </div>
      <div class = 'form-group'>
        <%= form.submit("Search",{:class=> 'btn btn-custom '}) %>
      </div>
</div>
    
<% end %>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Plane</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @list_trips.each do |trip| %>
    <tr>
      <th scope="row">1</th>
      <td><%= trip.aeroplane.name %></td>
      <td><%= trip.source %></td>
      <td><%= trip.destination %></td>
      <td><%= trip.date_of_dep %></td>
      <td><%= link_to 'Book Now', {:controller => "tickets", :action => "new", :trip_id => trip.id }, class: 'btn btn-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

