<p id="notice"><%= notice %></p>

<h1>Aeroplanes</h1>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>E fare</th>
      <th>B fare</th>
      <th>F fare</th>
      <th>E row</th>
      <th>E col</th>
      <th>B row</th>
      <th>B col</th>
      <th>F row</th>
      <th>F col</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @aeroplanes.each do |aeroplane| %>
      <tr>
        <td><%= aeroplane.name %></td>
        <td><%= aeroplane.model %></td>
        <td><%= aeroplane.e_fare %></td>
        <td><%= aeroplane.b_fare %></td>
        <td><%= aeroplane.f_fare %></td>
        <td><%= aeroplane.e_row %></td>
        <td><%= aeroplane.e_col %></td>
        <td><%= aeroplane.b_row %></td>
        <td><%= aeroplane.b_col %></td>
        <td><%= aeroplane.f_row %></td>
        <td><%= aeroplane.f_col %></td>
        <td><%= link_to 'Associated Trips', aeroplane, class: 'btn btn-light' %></td>
        <td><%= link_to 'Edit', edit_aeroplane_path(aeroplane), class: 'btn btn-warning' %></td>
        <%# <td><%= link_to 'Destroy', aeroplane, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aeroplane', new_aeroplane_path %>
