<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @aeroplane.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @aeroplane.model %>
</p>

<p>
  <strong>E fare:</strong>
  <%= @aeroplane.e_fare %>
</p>

<p>
  <strong>B fare:</strong>
  <%= @aeroplane.b_fare %>
</p>

<p>
  <strong>F fare:</strong>
  <%= @aeroplane.f_fare %>
</p>

<p>
  <strong>E row:</strong>
  <%= @aeroplane.e_row %>
</p>

<p>
  <strong>E col:</strong>
  <%= @aeroplane.e_col %>
</p>

<p>
  <strong>B row:</strong>
  <%= @aeroplane.b_row %>
</p>

<p>
  <strong>B col:</strong>
  <%= @aeroplane.b_col %>
</p>

<p>
  <strong>F row:</strong>
  <%= @aeroplane.f_row %>
</p>

<p>
  <strong>F col:</strong>
  <%= @aeroplane.f_col %>
</p>

<%= link_to 'Edit', edit_aeroplane_path(@aeroplane) %> |
<%= link_to 'Back', aeroplanes_path %>
