<p id="notice"><%= notice %></p>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Date</th>
      <th colspan=3></th>
    </tr>
  </thead>
  <tbody>
  
  <% @aeroplane.trips.each_with_index do |trip, i| %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= trip.source %></td>
      <td><%= trip.destination %></td>
      <td><%= trip.date_of_dep %></td>
      <td><%= link_to 'All Passengers', trip, class: 'btn btn-light' %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_aeroplane_path(@aeroplane) %> |
<%= link_to 'Back', aeroplanes_path %>
