<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @ticket.source %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ticket.destination %>
</p>

<p>
  <strong>Date of journey:</strong>
  <%= @ticket.date_of_journey %>
</p>

<p>
  <strong>Seat class:</strong>
  <%= @ticket.seat_class %>
</p>

<p>
  <strong>Total Cost:</strong>
  <%= @ticket.total_cost %>
</p>

<%= link_to 'Update', {:controller => "tickets", :action => "edit", :trip_id => @ticket.trip_id }, class: 'btn btn-primary' %>

