<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @ticket.source %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ticket.destination %>
</p>

<p>
  <strong>Date of journey:</strong>
  <%= @ticket.date_of_journey %>
</p>

<p>
  <strong>Seat class:</strong>
  <%= @ticket.seat_class %>
</p>

<%# <%= link_to 'Edit', edit_ticket_path(@ticket), :trip_id => trip.id %> <br> 
<%= link_to 'Update', {:controller => "tickets", :action => "edit", :trip_id => @ticket.trip_id }, class: 'btn btn-primary' %>
<%= link_to 'Back', tickets_path %>
