<h1>Tickets</h1>
<div class="row">
  <% @passengers.each do |passenger| %>
      <% passenger.tickets.each do |ticket| %>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong><%= ticket.pnr %></strong></h5>
        <p class="card-text text-center">Happy Journey From: <strong><%= ticket.source %></strong> To: <strong><%= ticket.destination %></strong></p>
        <%= link_to 'Update Ticket', edit_ticket_path(ticket, :trip_id => ticket.trip_id), class: 'btn btn-primary' %>
        <%= link_to 'Show', ticket %>
        <%= link_to 'Cancel Booking', ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

